.ButtonCustomWrapper {
    cursor: pointer;
    border: 0;
    background: var(--clr-primary);
    border-radius: 8px;
    color: var(--clr-light);
    font-weight: bold;
    padding: 8px 24px;
    width: 100%;
    transition: 250ms;

    &:hover {
        background: rgb(46, 142, 238);
    }
}

.Secondary {
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(20px);

    &:hover {
        background: var(--clr-light);
        color: var(--black);
    }
}

.Disabled {
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}
