.HomeWrapper {
    position: relative;
    :global {
        .banner-title {
            text-align: center;
            font-size: 80px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }

        .card-section {
            height: calc(100vh - 68px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .list-ticket-section {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
