.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;

    .logo {
        font-size: 32px;
        font-weight: bold;

        span {
            color: var(--clr-primary);
        }
    }

    .action {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .account {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        font-size: 14px;
    }

    .navigation {
        display: flex;
        gap: 20px;
    }
}
